---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>

  <div class="project-list Grid">
    {% for project in site.projects %}
    <div class="project Grid-cell">
        <div class="thumbnail">
            <a href="{{ site.baseurl }}{{ project.url }}">
            {% if project.img %}
            <img src="{{ project.img }}"/>
            {% else %}
            <div class="blankbox"></div>
            {% endif %}
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>

    {% endfor %}
  </div>

  <h1 class="page-heading">Posts</h1>

  <div class="post-list Grid">
    {% for post in site.posts %}
      <div class="Grid-cell">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
