---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>

  <div class="project-list Grid darken">
    {% for project in site.projects %}

        <a class="project Grid-cell-wide" href="{{ site.baseurl }}{{ project.url }}">

      {% if project.description %}
      <div class="Grid--1of3 project-img">
        <img src="{{ project.img }}"/>
      </div>
      <div class="Grid--2of3 project-title">
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
      </div>
      {% else %}
      <div class="Grid--fit">
        <img src="{{ project.img }}"/>
      </div>
      {% endif %}

</a>



    {% endfor %}
  </div>

  <h1 class="page-heading">Posts</h1>

  <div class="Grid darken">
    {% for post in site.posts %}
      <div class="post-list Grid-cell-wide">
        <div class="post-meta Grid--1of3">
          <p>
            {{ post.date | date: "%b %-d, %Y" }}
          </p>
        </div>
        <div class="Grid--2of3">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2>
              {{ post.title }}
          </h2></a>
        </div>
      </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
