.home .Grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-bottom: 1em;
  position: relative;
  box-sizing: border-box;
}

.Grid .Grid-cell-wide {
  display: flex;
  flex: auto;
  margin: 1em 0 0 1em;
  background: $brand-bg-color;
  border-radius: 4px;
  // padding: 1em;
  position: relative;
  overflow: hidden;

  .Grid--1of3 {
    flex: 0 0 33.3333%;
  }

  .Grid--2of3 {
    flex: 0 0 66.6666%;
  }

  .Grid--fit {
    flex: 1;
  }

  .Grid--full {
    flex: 0 0 100%;
  }

  h1, h2, p {
    padding: 20px;
  }

// if a p follows an h1/h2, push them a little closer together
  h1 ~ p, h2 ~ p {
    margin-top: -40px;
  }

}

img {
  width: 100%;
  height: auto;
}

// *** This block was for a rollover overlay effect that's no longer in use
// *** Delete this when possible. 

// a span {
//   display: none;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   // background: rgba( $brand-bg-color, 0.8);
//   color: $grey-color-dark;
//   padding: 20px;
//   text-align: center;
//   width: 33.3333%;
// }
//
// a:hover span {
//   display: block;
// }

.caption {
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_sz;
}

@media (max-width: 635px) {
  .project-img {
    display: none;
  }

  .Grid .Grid-cell-wide .project-title {
    flex: 0 0 100%;
  }
}

// experimental color gradation
$step: 2;
@while $step <= 10 {

  $darker: darken($brand-bg-color, ($step * 3%));

  // darkens color step by step
  .darken .project:nth-child(#{$step}),
  .darken .post-list:nth-child(#{$step}) {
    background-color: $darker;

  }

  $step: $step + 1;
}
